* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#itemAdd{
  border: solid 1px #000;
}

#add{
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
